export ENV=local
export GOCONF=/Users/isawashun/Desktop/go-academy/garbage-category-rule-quiz/services/fetch-garbage-categories/config/config.toml.tmpl
export AWS_PROFILE=garbage-categories-rule-quiz-stg
export S3_BUCKET=garbage-category-rule-quiz-stg
export S3_PREFIX=data
export AWS_REGION=ap-northeast-1
