name: ci

on:
  push:
    branches:
      - "**"

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.5
          cache: true
          cache-dependency-path: |
            ./test/go.mod
            ./test/go.sum
      - name: Lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0.0
      - name: Run unit test
        run: |
          go test -v ./...
